#footnotediv{
  display: block;
  height: 50px;
  width: 874px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: green;
}
.svg rect {
  stroke: white;
/*  fill: steelblue;*/
}
.s{
  fill: grey;
}
.m{
  fill: steelblue;
}
.q{
  fill: red;
}

div {
  font: 10px sans-serif;
/*  background-color: steelblue;*/
/*  text-align: right;*/
  padding: 3px;
  margin: 1px;
  color: white;
}
span{
  padding: 3px;
  margin: 1px;  
}

