#footnotediv{
  display: block;
  height: 50px;
  background-color: yellow;
}
.svg rect {
  stroke: white;
  fill: steelblue;
}
div {
  font: 10px sans-serif;
/*  background-color: steelblue;*/
/*  text-align: right;*/
  padding: 3px;
  margin: 1px;
  color: white;
}
span{
  padding: 3px;
  margin: 1px;  
}

